<div id ="title">
<h1>acebook undefined feed</h1>
</div>

<div id="posts">
  <% @posts.each do |post| %>
   
   
    <h3><%= post.message %></h3><br>
    <p> <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %></p><h4><%= post.user.email %></h4>

    <div><%= link_to "Edit this post", edit_post_path(post) %>
    <%= link_to "Delete this post", post_path(post), 
    method: :delete, data: {confirm: 'Are you sure?'}, 
    :class => 'btn btn-outline-danger btn-sm' %></div>
    <br>
  <% end %>
</div>
<div>
  <%= link_to new_post_path do %>
  <h3 id="newpost">new post</h3>
  <% end %>
</div>
