<!DOCTYPE html>
<html>
  <head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <!--- alert codes for DEVISE --->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

 
  <!--- Conditional for Showing the navbar --->
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-light">
        <div class="container1">

            <%# <a class="navbar-brand" href="#" ><img src="undefined2.jpg"></a> %>
        <h4 id="logostyle">{UNdEFINED}</h4>

        <span id="loggedinas"> Logged in as <span id="email"> <%= current_user.email %> </span></span>
          
          <div id="bannerbuttons"><form class="form-inline">
            <button class="btn btn-outline-success" type="button"><%= link_to posts_path do%> Home feed<% end %></button>
            <button class="btn btn-outline-secondary" type="button">  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   </button>
          </form></div>

        </div>
      </nav>

    <% end %>
  <!--- Container for pages --->
    <div class="container-fluid" id="container">
    <%= yield %>
    </div>
  </body>
</html>
